
@{
    ViewData["Title"] = "Biography";
}

<body class="b-color1">
<h1 class="abz-pos">О себе</h1>
<div class="ctr-position t-size">
<p>
   Зовут меня Горбачев Евгений Сергеевич. Мне 39 лет.
   Проживаю в свердловской области. На данный момент
   прохожу обучение в IT-академии "Топ".</p>
</div>
</body>
