@{
    ViewData["Title"] = "Hobby";
}

<h1 class="abz-pos">Мои увлечения</h1>
<div class="ctr-position t-size">
    <p>
        Что касательно моих увлечений то это астрономия, научные технологии, парусное кораблестроение.
    </p>
</div>