@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center ctr-position">
    <h1 class="display-4">Добро пожаловать на мой сайт-визитку</h1>
    <p class="display-6">
        Меня зовут Горбачев Евгений.
        На данный момент я являюсь студентом IT-академии.
        По ссылкам выше вы можете более подробно познакомится 
        с моими данными.
    </p> 
</div>
