@{
    ViewData["Title"] = "Skills";
}

<h1 class="abz-pos">Мои навыки</h1>
<div class="ctr-position t-size">
    <p>
        Обладаю знаниями по следующим языкам: C, C++, C#, PHP, JavaScript.
        Так же имеются навыки по работе с базами данных по большей части с
        MSQLServer. Среди фреймворков работал на Laravel.
    </p>
</div>